.header {
  background-color: #5155f9;
  color: white;
  padding: .2em 2em;
  text-align: center;
}

h2 {
  text-decoration: underline;
  text-decoration-color: #f00b51;
}

.username-container {
  text-align: center;
}

.info {
  color: gray;
  padding-left: .5em;
  padding-top: .25em;
  position: absolute;
}

.error {
  color: red;
  text-align: center;
}

.screen {
  display: flex;
  margin: 2em 5em 5em 2em;
  width: 75%;
}

.users {
  border-right: 2px solid #f00b51;
  flex-basis: 15%;
}

.users ul {
  list-style: none;
}

.users ul li::before {
  content: "\2022";
  color: #0dd298 ;
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
  margin-left: -1em;
  vertical-align: middle;
  width: 1em;
}

.chatbox {
  display: flex;
  flex-basis: 85%;
  flex-direction: column;
}

.messages-container {
  height: 41em;
  overflow: auto;
}

.message-container {
  margin-bottom: 1em;
  padding-left: 2em;
}

.message {
  background-color: #37b5bd;
  border-radius: 15px;
  color: white;
  display: inline-block;
  max-width: 100%;
  padding: .5em 1em;
  word-wrap: break-word;
}

.author {
  color: gray;
  font-size: small;
  padding-left: .5em;
}

.text-container {
  padding-left: 2em;
  padding-top: 2em;
  width: 75%;
}

#text-input {
  width: 50%;
}
